body{
    background-color: #22232a;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 10%;
    transition: 0.25s;
}
form{
    white-space: pre-line;
}
a:link {
    color: rgba(159, 217, 255, 0.774);
}
h4, h1, p{
    transition: 0.25s;
}
h4:hover, h1:hover, p:hover{
    letter-spacing: 2px;
}
input{
    margin: 5px;
    background-color: #353742;
    border: 2px solid #7fd0ff ;
    border-radius: 13px;
    width: 200px;
    height: 25px;
    text-align: center;
    color:white;
    transition: 0.25s;
}
input:hover, input:focus{
    width: 250px;
}
input[type = "submit"]{
    color: #b3beff;
    height: 40px;
}
input[type = "submit"]:hover{
    background-color: #7acaff42;
}
.error{
 color: #db7f7f;
}